@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.dino-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 20em) {

  .dino-wrap {
    line-height: 0;
  }

  .dino:nth-child(2),
  .dino:nth-child(4) {
    display: none;
  }

}

@media only screen and (min-width: 25em) {

  .dino {
    width: 50%;
  }

  .dino:nth-child(2),
  .dino:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
  }

}

@media only screen and (min-width: 38em) {

  .dino-wrap {
    flex-wrap: nowrap;
  }

  .dino {
    width: 33.333%;
  }

  .dino:first-child {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  .dino:first-child {
    display: flex;
  }

  .dino {
    width: 25%;
  }

}
